{
  "env": {
    "development": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Array", "Date"]
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "es": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Array", "Date"]
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "lib": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Array", "Date"]
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2"
      ]
    },
    "production": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Array", "Date"]
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true,
            "modules": false
          }
        ],
        "stage-2"
      ]
    },
    "test": {
      "plugins": [
        [
          "transform-builtin-extend",
          {
            "globals": ["Array", "Date"]
          }
        ]
      ],
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ],
        "stage-2"
      ]
    }
  }
}
