{
  "ecmaFeatures":{
    "arrowFunctions":true,
    "blockBindings":true,
    "classes":true,
    "defaultParams":true,
    "forOf":true,
    "generators":true,
    "globalReturn":true,
    "jsx":true,
    "modules":true,
    "regexUFlag":true,
    "regexYFlag":true,
    "restParams":true,
    "spread":true,
    "superInFunctions":true,
    "templateStrings":true,
    "unicodeCodePointEscapes":true
  },
  "env":{
    "amd":true,
    "browser":true,
    "es6":true
  },
  "globals":{
    "__ENVIRONMENT__": true
  },
  "parser":"babel-eslint",
  "plugins":[
    "babel",
    "react"
  ],
  "rules":{
    "arrow-parens":2,
    "arrow-spacing":[2, {
      "after":true,
      "before":true
    }],
    "brace-style":[2, "1tbs", {
      "allowSingleLine":true
    }],
    "comma-dangle":2,
    "constructor-super":2,
    "curly":2,
    "eqeqeq":2,
    "newline-after-var":2,
    "generator-star-spacing":2,
    "no-alert":1,
    "no-array-constructor":2,
    "no-caller":1,
    "no-class-assign":2,
    "no-const-assign":2,
    "no-dupe-args":2,
    "no-dupe-class-members":2,
    "no-dupe-keys":2,
    "no-empty":2,
    "no-eval":2,
    "no-implied-eval":2,
    "no-native-reassign":2,
    "no-new-func":2,
//    "no-new-object":2,
    "no-obj-calls":2,
//    "no-proto":2,
    "no-this-before-super":2,
    "no-undef":2,
    "no-unexpected-multiline":1,
    "no-unreachable":2,
//    "no-use-before-define":2,
    "no-useless-call":2,
    "no-useless-concat":2,
    "no-unused-expressions":2,
    "no-unused-vars":[2, {
      "varsIgnorePattern":"^React"
    }],
    "quotes":[2, "single"],
    "prefer-arrow-callback":2,
    "react/jsx-no-duplicate-props":2,
    "react/jsx-no-undef":1,
    "react/jsx-sort-prop-types":2,
    "react/jsx-sort-props":2,
    "react/no-did-mount-set-state":1,
    "react/no-did-update-set-state":1,
    "react/sort-comp":1,
    "semi":[2, "always"],
    "space-after-keywords":[2, "always"],
    "space-in-parens":[2, "never"],
    "space-return-throw-case":2,
    "valid-typeof":2
  }
}
